body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}


.counter {
    background-color: #f4f4f9;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.counter i {
    font-size: 48px;
    margin-bottom: 10px;
    color: #4CAF50;
}


.counter p {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 0;
}


